<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="NativePHP Charts Harness"
        android:supportsRtl="true"
        android:theme="@style/Theme.NativePHPChartsHarness">
        <activity
            android:name=".NativePHPChartsPerformanceActivity"
            android:exported="true" />
        <activity
            android:name=".NativePHPChartsGalleryActivity"
            android:exported="true" />
    </application>
</manifest>
